{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
<!-- <img src="{% static 'img/login_bg.jpg' %}" class="img"> -->
<div class="d-flex justify-content-end">
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Cadastrar
        </button>
        <div class="dropdown-menu">
            <a class="btn btn-link" href="{% url 'criarCliente' %}">Cliente</a>
            <a class="btn btn-link" href="#">Delivery</a>
        </div>
    </div>
</div>


<

<form action="" method="POST">
    {% csrf_token %}


    <div class="quadrado">
        <div class="content_login">
            {{ form|crispy }}

            <div class="btn-center">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </div>



</form>


{% endblock content %}