.quadrado {
    position:relative;
    width: 300px;
    height: 300px;
    background-color: #faf8f0;
    border-radius: 20px;
    box-shadow: 30px 30px 80px #043353 ;
    box-shadow: -30px -30px 80px #d3d3d2;
    box-shadow: 4px 4px 20px #faf8f0;
    margin-left: 30vh;
    top: 8vw;
    
}



.content_login {
    position: relative;
    width: 250px;
    min-height: 300px;
    top: 50px;
    margin: 0px auto;
}

.btn-center{
    position:relative;
    margin-left: 35%;
    margin-top:5%;
}

#teste{
    background-color: #D3DDE6;
    height:90vh;
    width:100%;
    overflow-y:scroll;
}


.img{
    position: absolute;
    
    width: 100vw;
    height: 100vh;
}


.button_left{
    position: absolute;
    justify-content: end;
    
}


.container_cadastro{
    position: absolute;
    width: 44vw;
    
}

.container_bg_cadastro{
    position: absolute;
    width: 50vw;
    height: 70vh;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 30px 30px 80px #6962f7;
    box-shadow: -30px -30px 80px #FFFFFF;
    box-shadow: 4px 4px 20px #FFFFFF;
    margin-top: 15vh;
    
}


#scrollContainerCadastro{
    height: 60vh;
    overflow-y:scroll;
}