{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
Cadastro - Cliente
{% endblock title %}

{% block content %}

<div style="position: absolute; margin-top: 2vh; margin-left: 1vw;">
    <div class="d-flex justify-content-end">
        <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Voltar</button></a>>
    </div>
</div>

{% if erro == True %}
    {{mensagem}}
{% endif %}

<div class="d-flex justify-content-center">
    <div class="container_bg_cadastro">
        <div class="d-flex justify-content-center" style="margin-top: 5vh;">
            <div class="container_cadastro">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list"
                                    data-toggle="list" href="#list-home" role="tab" aria-controls="home">User</a>
                                <a class="list-group-item list-group-item-action" id="list-messages-list"
                                    data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Dados
                                    Pessoais</a>
                                <a class="list-group-item list-group-item-action" id="list-settings-list"
                                    data-toggle="list" href="#list-settings" role="tab"
                                    aria-controls="settings">Endereço</a>
                            </div>
                        </div>

                        <div class="col-8" id="scrollContainerCadastro">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                    aria-labelledby="list-home-list">
                                    {{user|crispy}}
                                </div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                    aria-labelledby="list-messages-list">
                                    {{cliente|crispy}}
                                </div>
                                <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                    aria-labelledby="list-settings-list">
                                    {{endereco|crispy}}

                                    <div class="d-flex justify-content-center" style="margin-top:2vh;">
                                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Cadastrar">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


<!--


 


-->