{% extends "dashboard.html" %}
{% load staticfiles %}

{% block title %}
Carrinho - Pede Mais
{% endblock title %}


{% block content %}
<div style="position: relative ;padding: 2vh; width: 60vw; margin-top: 3vh;">
    {% if objects != "False" %}
    <table class="table table-bordered table-hover table-light">
        <thead>
            <tr>
                <th class="d-flex justify-content-center" scope="col">#ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Valor</th>
                <th class="d-flex justify-content-center" scope="col">Quantidade</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
        <tbody>

            {% for obj in objects %}

            <tr>
                <th class="d-flex justify-content-center" scope="row">{{obj.pk}}</th>
                <td>{{obj.nome}}</td>
                <td>{{obj.valor}}</td>

                <td class="d-flex justify-content-center">{{obj.qnt}}</td>

                <td> 
                    <button class = "btn btn-light" type = "submit"><img src = "{% static 'img/icons/remove_circle-24px.svg' %}"></button>
                </td>



            </tr>



            {% endfor %}
        </tbody>
    </table>

</div>


<div style="margin-left: 65vw;width: 30vh; position: relative; padding: 4vh; margin-top: -33vh;">
    <div class="card" style="width: 30vw; ">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <h1>Pedido <b>Nº</b></h1>
            </div>
        </div>
        <div class="card-body">

            <p class="card-text">
                <b>Nome: </b>{{cliente.nome}}<br>
                <b>Rua:</b> {{endereco.rua}}<br>
                <b>Bairro: </b>{{endereco.bairro}}<br>
                <b>Nº: </b>{{endereco.numero}}<br>



                <b>Valor Total: </b>{{valor}}</br>
                <b>Quantidade Total: </b>{{qnt}}
            </p>
            <form action="" method="POST">

                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <input class="btn btn-primary" type="submit" value="Confirmar">
                </div>

            </form>
        </div>
    </div>
</div>


{% else %}
<div class="card">
    <div class="card-header">
        <b>Carrinho de compras vazio,</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">Seu carrinho de compras encontra-se vazio, adicione novos produtos no 'Menu de
            Deliverys'</h5>

        <a class="btn btn-primary" href="{% url 'listDeliverys' %}" role="button">Vamos às compras ?</a>
    </div>
</div>
{% endif %}
</div>



{% endblock content %}