{% extends "dashboard.html" %}
{% load staticfiles %}

{% block title %}
Home - Pede Mais
{% endblock title %}


{% block content %}



<div class="container" style=" padding: 1vh;">
        <div class="card mb-3">

                <div class="container" style="width: 50vw; padding: 2vh;">

                        <div class="bd-example">
                                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleCaptions" data-slide-to="0"
                                                        class="active"></li>
                                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                        <div class="d-flex justify-content-center">
                                                                <img class="rounded-lg"
                                                                        src="{% static 'img/foto2.jpg' %}"
                                                                        class="d-block w-80" alt="...">
                                                        </div>

                                                </div>
                                                <div class="carousel-item">
                                                        <div class="d-flex justify-content-center">
                                                                <img class="rounded-lg"
                                                                        src="{% static 'img/foto1.jpg' %}"
                                                                        class="d-block w-80" alt="...">
                                                        </div>

                                                </div>
                                                <div class="carousel-item">
                                                        <div class="d-flex justify-content-center">
                                                                <img class="rounded-lg"
                                                                        src="{% static 'img/foto3.jpg' %}"
                                                                        class="d-block w-80" alt="...">
                                                        </div>

                                                </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                                                data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                                                data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                        </a>
                                </div>
                        </div>

                </div>

                <div class="card-body">
                        <h5 class="card-title">Pede Mais</h5>
                        <p class="card-text">
                                <b>Pede Mais</b> é uma site brasileiro fundado em 2019, atuante no ramo de entrega de
                                comida e seu principal objetivo é prover aos donos de deliverys alimenticias
                                uma plataforma em que eles possam hospedar seus negocios de maneira
                                gratis e intuitiva.</p>
                        <div class="d-flex justify-content-center">
                                <p class="copyright text-muted"><small class="text-muted">&copy; Leonardo
                                                Veras</small></p>
                        </div>
                </div>
        </div>
</div>





{% endblock content %}