{% extends "dashboard.html" %}
{% load staticfiles %}

{% block title %}
Delivery's - Pede Mais
{% endblock title %}


{% block content %}


<!-- <div class="container">
    {% for delivery in objects %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#{{delivery.usuario}}" aria-expanded="false" aria-controls="{{delivery.usuario}}">
                        {{delivery.nome_restaurante}}
                    </button>
                </h2>
            </div>

            <div id="{{delivery.usuario}}" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">

                    <div class="media">
                        <img src="{% static 'img/047.svg' %}" class="mr-3" width="50px">

                        <div class="media-body">
                            <h5 class="mt-0">{{delivery.nome_restaurante}}</h5>
                            <p>{{delivery.descricao}}</p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-info">Acessar</a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </br>
    {% endfor %} -->
<div class="container" style="width: 70vw;">
    {% for delivery in objects %}
        <div class="list-group" style="padding: 4px;">

            <a href="{{delivery.get_absolute_url}}" class="list-group-item list-group-item-action">
                <div class="media">
                    <img src="{% static 'img/icons/image.svg' %}" class="align-self-center mr-3" width="40px">
                    <div class="media-body">
                        <h5 class="mt-0">{{delivery.nome_restaurante}}</h5>
                        <p>{{delivery.descricao}}</p>

                    </div>
                </div>
            </a>

        </div>
    
    {% endfor %}

</div>
</div>




{% endblock content %}


