{% extends "dashboard.html" %}
{% load staticfiles %}

{% block title %}
Delivery's - Pede Mais
{% endblock title %}


{% block content %}

{% if erro == 'true' %}

<div class = "container" style = "position: relative; padding: 1vw;">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div class = "d-flex justify-content-center"> 
            <strong>Dados inseridos nos campos de busca estão inválidos, tente novamente.</strong> 
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


{% endif %}


<div class="container" style="width: 70vw; padding: 3vh;">
    {% for delivery in objects %}
    <div class="list-group" >

        <a href="{{delivery.get_absolute_url}}" class="list-group-item list-group-item-action" >
            <div class="media">
                <img src="{% static 'img/icons/image.svg' %}" class="align-self-center mr-3" width="40px">
                <div class="media-body">
                    <h5 class="mt-0">{{delivery.nome_restaurante}}</h5>
                    <p>{{delivery.descricao}}</p>

                </div>
            </div>
        </a>

    </div>

    <div style="padding: 2px;" ></div>

    {% endfor %}

</div>











{% endblock content %}