{% extends "dashboard.html" %}
{% load staticfiles %}

{% block title %}
Produtos - Pede Mais
{% endblock title %}

{% block content %}

<div class="container" style="padding: 3vh;">
    <table class="table table table-hover table-light ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Observações</th>
                <th scope="col">Peso(g)</th>
                <th scope="col">Valor</th>
                
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <th scope="row"><img src="{% static 'img/icons/image.svg' %}" class="align-self-center mr-3"
                        width="40px"></th>
                <td><a href="{{obj.get_absolute_url}}">{{obj.nome}}</a></td>
                <td>{{obj.observacoes}}</td>
                <td>{{obj.peso}}</td>
                <td>{{obj.valor}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}


<!-- <img src="{% static 'img/icons/remove_circle-24px.svg' %}" width="24px"> -->