{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>


    <title>
        {% block title%}
        {% endblock title %}
    </title>


</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <a type="button" class="btn btn-light" href="{% url 'home' %}">
                <img src="{% static 'img/icons/home-24px.svg' %}" width="24vh">
            </a>
        </div>

        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-1 bd-highlight">
                <div class="btn-group">
                    <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="{% static 'img/icons/person_pin-24px.svg' %}" width="24vh">
                        Perfil
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>

                        {% if type != 'c' %}

                        <a class="dropdown-item" href="{% url 'produtoView' %}"> Produto</a>
                        <a class="dropdown-item" href="#"> Entregador</a>

                        {% endif %}


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
            {% if type == 'c' %}
            <div class="p-1 bd-highlight">

                <div class="btn-group">
                    <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="{% static 'img/icons/cart.svg' %}" width="24vh">
                        Sacola de compras
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                        <a type="button" class="dropdown-item" href="{% url 'carrinhoView' %}">
                            Pedido
                        </a>

                        <a class="dropdown-item" href="#">Histórico de pedidos</a>

                    </div>
                </div>
            </div>
            <div class="p-1 bd-highlight">
                <a type="button" class="btn btn-light" href="{% url 'listDeliverys' %}">
                    <img src="{% static 'img/icons/restaurant-24px.svg' %}" width="24vh">
                    Delivery's
                </a>
            </div>

            {% if buscar_cidade == 'true' %}
            <div class="p-1 bd-highlight">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                    <img src="{% static 'img/icons/search.svg' %}" width="24vw">
                    Buscar Localização
                </button>
            </div>
            {% endif %}



            {% endif %}

        </div>
    </nav>

    <div id="teste">

        {% block content %}
        {% endblock content %}

    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Mudar Localização</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action=".">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Estado</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Ex.: Pernambuco" name="estado">

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Cidade</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Ex.: Afogados da Ingazeira" name="cidade">

                        </div>

                        <small class="text-muted">- Sempre verifique se os informações estão corretos</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                        <button type="submit" class="btn btn-primary" name="alterar">Alterar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>

</html>